<div class="card col-lg-3 col-md-6  col-sm-12 ht-card">
    <div class="hovereffect">
        <img class="card-img-top ht-card-img img-responsive" src="{{dataValues.image}}" alt="Card image cap">
        <div class="overlay">
           <h2>Free Style</h2>
           <a class="info" href="./product">Xem chi tiết</a>
        </div>
    </div>
	<a href="./product">
	  <div class="card-body">
	    <p class="card-text-shopping">{{dataValues.name}}</p>
	    <p class="ht-info-cost"><strike>{{dataValues.cost}}đ</strike><span class="ht-saleoff">-30%</span></p>
	    <p><span class="ht-cost">{{dataValues.cost}} đ</span></p>
	  </div>
	</a>
</div>