<section style="padding-top: 60px; padding-bottom: 60px;">
    <div class="container justify-content-center" >
        <div class="cart-title">
            <h1>Giỏ hàng</h1>   
        </div>

        <div class="list-item list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="container mr-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="imageItem" src="img/tshirt/blue2-thumb.png" />
                        </div>
                        <div class="col-md-4">
                            <div>
                                Áo thun 01
                            </div>
                            <div>
                                Size XL
                            </div>
                            <span>Số lượng: </span>
                            <input class="amount" type="number" value="1"/>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <span class="price-lable">50.000 VNĐ</span>
                        </div>
                        <div class="col-md-1 del-product">
                            <button class="close-btn ">
                                X
                            </button>

                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="container mr-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="imageItem" src="img/tshirt/black-thumb.png" />
                        </div>
                        <div class="col-md-4">
                            <div>
                                Áo thun 02
                            </div>
                            <div>
                                Size M
                            </div>
                            <span>Số lượng: </span>
                            <input class="amount" type="number" value="1"/>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <span class="price-lable">50.000 VNĐ</span>
                        </div>
                        <div class="col-md-1 del-product">
                            <button>
                                X
                            </button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="container mr-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="imageItem" src="img/tshirt/grey-thumb.png" />
                        </div>
                        <div class="col-md-4">
                            <div>
                                Áo thun 03
                            </div>
                            <div>
                                Size M
                            </div>
                            <span>Số lượng: </span>
                            <input class="amount" type="number"/value="1">
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <span class="price-lable">50.000 VNĐ</span>
                        </div>
                        <div class="col-md-1 del-product">
                            <button>
                                X
                            </button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="container mr-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="imageItem" src="img/tshirt/white-thumb.png" />
                        </div>
                        <div class="col-md-4">
                            <div>
                                Áo thun 04
                            </div>
                            <div>
                                Size M
                            </div>
                            <span>Số lượng: </span>
                            <input class="amount" type="number" value="1"/>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <span class="price-lable">50.000 VNĐ</span>
                        </div>
                        <div class="col-md-1 del-product">
                            <button>
                                X
                            </button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="container mr-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="imageItem" src="img/tshirt/blue-thumb.png" />
                        </div>
                        <div class="col-md-4">
                            <div>
                                Áo thun 05
                            </div>
                            <div>
                                Size M
                            </div>
                            <span>Số lượng: </span>
                            <input class="amount" type="number" value="1"/>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <span class="price-lable">50.000 VNĐ</span>
                        </div>
                        <div class="col-md-1 del-product">
                            <button>
                                X
                            </button>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="total-info" style="padding-top: 30px;">
            <h4>Tổng giá tiền: </h4>
            <h4 class="overall-total-price">500.000 VNĐ</h4>
            <button class="payment btn btn-primary">Thanh toán</button>
            <button class="buy-more btn btn-outline-primary">Mua thêm</button>
        </div>
    </div>

</section>